$orange: hsl(25, 97%, 53%); 
$white: hsl(0, 0%, 100%);
$light_grey: hsl(217, 12%, 63%);
$medium_grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very_dark_blue: hsl(216, 12%, 8%);
$negro: hsl(0, 0%, 0%) ;



:root{
    /* Colores */
    --negro: #393939;
    
    /* Tipografía */
    --tipo-principal   : Helvetica, Arial, sans-serif;
    --tipo-secundaria  : Verdana;
}
    
  /* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root{
        --negro         : #ececec;
    }
}

  /* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
    * {
    animation: none !important;
    transition: none !important;
    }
}

  /* Reseteamos los margin y paddings de todas las etiquetas */
  * , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
  *::before , *::after{
    display: block;
}

  /* Evitamos problemas con las imagenes */
img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */ object-fit: cover;        
    /* (Opcional) */ object-position: center center;
}

  /* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
}
  /* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

  /* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

  /* (Opcional) Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
}
  /* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

  /* (Opcional) Configuramos el texto que seleccionamos */
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

  /* Nivelamos problemas de tipografías y colocación de formularios */
form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color:inherit;
    display: block;
      /* (Opcional) */ appearance: none;
}

  /* Reseteamos las tablas */
table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
}

  /* Evitamos problemas con los SVG */
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

  /* Configuramos la tipografía para toda la web */
body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--tipo-principal);
    color       : var(--negro);
}
/*Comienzo de la estilizacion*/
.conteiner{
    margin: 20rem;
}
.card{
    color: $negro;
    font-family: 'Overpass', sans-serif;
}
.div__text--title{
    font-weight: 700;
    font-size: 2rem;
}
.div__text--paragraph{
  font-weight: 400;
  font-size: 1.5rem;
}

ul{
  display: flex;
  justify-content: space-between;
  height: 4rem;
    li{
        margin: 0.5rem;
        background-color: $dark-blue;
        color: $white;
        border-radius: 100%;
        padding: 4%;
        transition: 0.3s;
    }
    :hover{
      background-color: $orange;
      transition: 0.3s;
      cursor: pointer;
    }
}

.btn-submit{
  background-color: $orange;
  color: $white;
  margin: auto;
  padding: 0.5rem 4rem 0.5rem;
  border-radius: 2rem;
  text-align: center;
  transition: background-color 0.2s;
}
.btn-submit:hover{
  background-color: $white;
  color: $orange;
  cursor: pointer;
}